<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Yum Yum Management Site - Authentication Failure Page</title>
    </h:head>

    <h:body>
        <h1>
            Yum Yum Business
        </h1>

        <h2>
            Authorization Failure Page
        </h2>

        <h2>
            Sorry, you are not authorized to access the resources.
        </h2>

        <h2>
            Please discuss this with your manager.
        </h2>

        
        <h:form>
            Please retry
            <h:commandButton value="Login" action="#{loginCDIBean.logoutResult()}"/>
            with another credentials
        </h:form>
        
        <br/>
    </h:body>
</html>

