<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Yum Yum Management Site - Login Page</title>
    </h:head>

    <h:body>
    <h1>
        Yum Yum Business
    </h1>

    <h2>
        Login Page
    </h2>
        
    <h:form id="loginForm">  
           <h:panelGrid columns="2">  
                <h:outputLabel for="empId" value="Username:" />  
                <h:inputText id="empId" maxlength="4" value="#{loginCDIBean.empId}" />  
                                 
                <h:outputLabel for="password" value="Password:" />  
                <h:inputSecret id="password" maxlength="6" value="#{loginCDIBean.password}" />  
                                 
                <h:commandButton id="loginButton" value="Login" action="#{loginCDIBean.loginResult()}" />  
           </h:panelGrid>  
      </h:form>
    </h:body>
</html>

