<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Yum Yum Management Site - Logout Page</title>
    </h:head>

    <h:body>
        <h1>
            Yum Yum Business
        </h1>

        <h3>
            You have logout
        </h3>

        <h3>
            GoodBye!
        </h3>

        Click 
        <a href="/ShoppingCart-war/faces/login.xhtml">
            here
        </a>
        to login again
    </h:body>
</html>


