<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Yum Yum Management Site - Retry Login Page</title>
    </h:head>

    <h:body>
        <h1>
            Yum Yum Business
        </h1>

        <h2>
            Retry Login Page
        </h2>

        <h2>
            Invalid username or password
        </h2>

        Please retry 
        <a href="/ShoppingCart-war/faces/login.xhtml">
            Login
        </a>
    </h:body>
</html>

