<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <title>Add a new Product</title>
    </h:head>
    <h:body>

        <h2>Please enter the details of a product</h2>

        <h:form>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <h:outputLabel value="Product Id:"/>
                        </td>
                        <td>
                            <h:inputText maxlength="6" id="productid"
                                         requiredMessage="Product ID is required"
                                         required="true"
                                         validatorMessage="Product ID format and length are invalid (e.g P12345)"
                                         value="#{productCDIBean.productid}">
                                <f:validateRegex pattern="P\d{5}" />
                            </h:inputText>
                        </td>
                        <td>
                            <h:message for="productid" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Product Name:"/>
                        </td>
                        <td>
                            <h:inputText title="Product Name" id="productname"
                                         maxlength="25"
                                         required="true" 
                                         requiredMessage="Product Name must not be blank"
                                         value="#{productCDIBean.productname}"/>
                        </td>
                        <td>
                            <h:message for="name" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Description"/>
                        </td>
                        <td>
                            <h:inputText title="Description" id="descrption"
                                         required="false"
                                         value="#{productCDIBean.description}"/>
                        </td>
                        <td>
                            <h:message for="descrption" style="color:red"/>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="Unit Price"/>
                        </td>
                        <td>
                            <h:inputText title="Unit Price" id="unitprice"
                                         required="true" 
                                         requiredMessage="Unit Price must not be blank"
                                         converterMessage="Unit Price can only be positive decimal and integer number"
                                         validatorMessage="Unit Price can only be positive decimal and integer number"
                                         value="#{productCDIBean.unitprice}">
                                <f:validateDoubleRange minimum = "0.0" />
                            </h:inputText>
                            $
                        </td>
                        <td>
                            <h:message for="unitprice" style="color:red"/>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="Available Quantity"/>
                        </td>
                        <td>
                            <h:inputText title="Available Quantity" id="qtyonhand"
                                         required="true" 
                                         requiredMessage="Available Quantity must not be blank"
                                         converterMessage="Available Quantity can only be positive integer numbers"
                                         validatorMessage="Available Quantity can only be positive integer numbers"
                                         value="#{productCDIBean.qtyonhand}">
                                <f:validateDoubleRange minimum = "0.0" />
                            </h:inputText>
                        </td>
                        <td>
                            <h:message for="qtyonhand" style="color:red"/>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="Threshold Quantity"/>
                        </td>
                        <td>
                            <h:inputText title="Threshold Quantity" id="thresholdqty"
                                         required="false"
                                         converterMessage="Threshold Quantity can only be positive integer numbers"
                                         validatorMessage="Threshold Quantity can only be positive integer numbers"
                                         value="#{productCDIBean.thresholdqty}">
                                <f:validateDoubleRange minimum = "0.0" />
                            </h:inputText>
                        </td>
                        <td>
                            <h:message for="thresholdqty" style="color:red"/>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="Note"/>
                        </td>
                        <td>
                            <h:inputText title="Note" id="memo"
                                         required="false"
                                         value="#{productCDIBean.memo}"/>
                        </td>
                        <td>
                            <h:message for="memo" style="color:red"/>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <h:outputLabel value="Active:" for="active"/> 
                        </td>
                        <td>
                            <h:selectBooleanCheckbox required="true" 
                                                     value="#{productCDIBean.active}" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <p></p>

            <h:commandButton id="submit" value="Submit" 
                             action="#{productCDIBean.addProduct()}"/>

        </h:form>

        <br/>

        Click <h:outputLink value="mainmenu.xhtml">here</h:outputLink>
        to return to the Main Menu
    </h:body>
</html>