<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Change Staff's Password</title>
    </h:head>
    <h:body>
        
        <h2>Change Staff's Password Page</h2>

        <h3>Please enter the following information to change the password</h3>

        <p></p>

        <h:form>

            <table>
                <tbody>
                    
                    <tr>
                        <td>
                            <h:outputLabel value="Password:"/>
                        </td>
                        <td>
                            <h:inputSecret id="password" 
                                         required="true"
                                         requiredMessage="Old password cannot be balnk"
                                         value="#{staffManagementCDIBean.password}">
                            </h:inputSecret>
                        </td>
                        <td>
                            <h:message for="password" style="color:red"/>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <h:outputLabel value="New Password:"/>
                        </td>
                        <td>
                            <h:inputSecret id="newpwd" binding="#{newpwd}"
                                         title="NewPassword" 
                                         maxlength="6"
                                         required="true"
                                         requiredMessage="New Password must not be blank"
                                         validator="#{staffManagementCDIBean.validateNewPasswordPair}"
                                         value="#{staffManagementCDIBean.newpassword}">
                                <f:validateLength minimum="6" maximum="6"/>
                                <f:attribute name="cnfpwd" value="#{cnfpwd}"/>
                            </h:inputSecret>
                        </td>
                        <td>
                            <h:message for="newpwd" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Confirm New Password:"/>
                        </td>
                        <td>
                            <h:inputSecret id="cnfpwd" binding="#{cnfpwd}"
                                         title="ConfirmPassword"
                                         maxlength="6" 
                                         required="true"
                                         requiredMessage="Confirm New Password must not be blank"
                                         value="#{staffManagementCDIBean.cpassword}">
                                <f:validateLength minimum="6" maximum="6"/>
                            </h:inputSecret>
                        </td>
                        <td>
                            <h:message for="cnfpwd" style="color:red"/>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p></p>

            <h:commandButton id="submit" value="Submit" 
                             action="#{staffManagementCDIBean.changeStaffPassword()}"/>

        </h:form>
        
        <br/>
        Click <h:outputLink value="mainmenu.xhtml">here</h:outputLink>
        to return to the Main Menu
    </h:body>
</html>







