<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Delete a product</title>
    </h:head>
    <h:body>

        <h2>Please enter the product id of the product to be deleted</h2>

        <h:form>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <h:outputLabel value="Product ID:"/>
                        </td>
                        <td>
                            <h:inputText maxlength="6" id="productid"
                                         requiredMessage="Product ID is required"
                                         required="true"
                                         validatorMessage="Product ID format and length are invalid (e.g P12345)"
                                         value="#{productCDIBean.productid}">
                                <f:validateRegex pattern="P\d{5}" />
                            </h:inputText>
                        </td>
                        <td>
                            <h:message for="productid" style="color:red"/>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p></p>

            <h:commandButton id="submit" value="Submit" action="#{productCDIBean.deleteProduct()}"/>

        </h:form>
        
        <br/>

        Click <h:outputLink value="mainmenu.xhtml">here</h:outputLink>
        to return to the Main Menu
    </h:body>
</html>

