<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Delete Product Failure</title>
    </h:head>
    <h:body>
        
        <h2>Cannot delete the product whose product id is 
            <h:outputText value="#{productCDIBean.productid}"/>!</h2>

        <p></p>
        
        Probably attempt to remove either a non-existing product or an already disabled product
        
        <p></p>
        
        <h2>Please ensure that the product id does exist and 
            the product has not been disabled in the system.</h2>

        <br/>

        Click <h:outputLink value="mainmenu.xhtml">here</h:outputLink>
        to return to the Main Menu

    </h:body>
</html>

