<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Display a Product's Details</title>
    </h:head>
    <h:body>

        <h2>
            Details of the product whose product id is
            <h:outputText value="#{productCDIBean.productid}"/>
        </h2>

        <h:form>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <h:outputLabel value="Product Name:"/>
                        </td>
                        <td>
                            <h:outputText value="#{productCDIBean.productname}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Description"/>
                        </td>
                        <td>
                            <h:outputText value="#{productCDIBean.description}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Unit Price"/>
                        </td>
                        <td>
                            <h:outputText value="#{productCDIBean.unitprice}$"/>     
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Available Quantity"/>
                        </td>
                        <td>
                            <h:outputText value="#{productCDIBean.qtyonhand}"/>
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            <h:outputLabel value="Threshold Quantity"/>
                        </td>
                        <td>
                            <h:outputText value="#{productCDIBean.thresholdqty}"/>
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            <h:outputLabel value="Note"/>
                        </td>
                        <td>
                            <h:outputText value="#{productCDIBean.memo}"/>
                        </td>
                    </tr>
                       
                    <tr>
                        <td>
                            <h:outputLabel value="Active:"/> 
                        </td>
                        <td>
                            <h:selectBooleanCheckbox disabled="true" value="#{productCDIBean.active}" />
                        </td>
                    </tr>
                </tbody>
            </table>

        </h:form>

        <br/>

        Click <h:outputLink value="mainmenu.xhtml">here</h:outputLink>
        to return to the Main Menu
    </h:body>
</html>



