<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Yum Yum Management Site - Main Menu</title>
    </h:head>

    <h:body>
        <h1>
            <h:outputText value="Yum Yum Business"/>
        </h1>

        <h2>
            <h:outputText value="Main Menu"/>
        </h2>
        
        <!-- User management -->
        <h3>
            <h:outputText value="User Management"/>
        </h3>
        <ol>

            <li>
                <h:outputLink value="changeEmployeePassword.xhtml">
                    Change the user's password
                </h:outputLink>
            </li>

            <li>
                <h:form>
                    <h:commandLink value="Display the user's details"
                                   action="#{staffManagementCDIBean.displayUser()}"/>
                </h:form>
            </li>
        </ol>
        
        <!-- Product management -->
        <h3>
            <h:outputText value="Product Management"/>
        </h3>
        <ol>

            <li>
                <h:outputLink value="viewProductList.xhtml">
                    View product list
                </h:outputLink>
            </li>

            <li>
                <h:outputLink value="addProduct.xhtml">
                    Add a new product
                </h:outputLink>
            </li>

            <li>
                <h:outputLink value="changeProduct.xhtml">
                    Change a product's details
                </h:outputLink>
            </li>
            <li>
                <h:outputLink value="deleteProduct.xhtml">
                    Disable a product
                </h:outputLink>
            </li>

            <li>
                <h:outputLink value="displayProduct.xhtml">
                    Display product's details
                </h:outputLink>
            </li>
        </ol>

        <h:form>
            Click <h:commandButton value="Logout" action="#{loginCDIBean.logoutResult()}"/>           
        </h:form>

    </h:body>
</html>

