<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>View Product List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../style.css" type="text/css"/>
    </h:head>
    <h:body>
        <h1>
            <h:outputText value="Yum Yum Business"/>
        </h1>

        <h2>
            <h:outputText value="View Product List"/>
        </h2>
        
        <h:button style="font-size: 50px;" value="Add Product" outcome="addProduct"/>
        <br/><br/>
        
        <f:view>
            <h:form>
                <h:dataTable
                    value="#{productCDIBean.list}" var="item"          
                    styleClass="catalogTable"
                    headerClass="catalogTableHeader"
                    rowClasses="catalogTableOddRow,catalogTableEvenRow"
                    cellpadding="10">
                    <h:column>
                        <f:facet name="header">Product ID</f:facet>
                        <h:outputText value="#{item.productid}" />
                    </h:column>
                    <h:column>
                        <f:facet name="header">Product Name</f:facet>
                        <h:outputText value="#{item.productname}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Description</f:facet>
                        <h:outputText value="#{item.description}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Unit Price</f:facet>
                        <h:outputText value="#{item.unitprice}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Quantity on hand</f:facet>
                        <h:outputText value="#{item.qtyonhand}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Threshold Quantity</f:facet>
                        <h:outputText value="#{item.thresholdqty}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Note</f:facet>
                        <h:outputText value="#{item.memo}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Active</f:facet>
                        <h:selectBooleanCheckbox id="active" disabled="true" value="#{item.active}" />
                    </h:column>

                    <h:column>
                        <f:facet name="header">Action</f:facet>
                        <h:commandButton value="Disable" disabled="#{item.active != true}"
                                         action="#{productCDIBean.redirectToDisableView(item.productid)}">
                        </h:commandButton>
                        <h:commandButton value="Enable" disabled="#{item.active == true}"
                                         action="#{productCDIBean.redirectToEnableView(item.productid)}">
                        </h:commandButton>
                        <h:commandButton value="Edit"
                                         action="#{productCDIBean.redirectToEditView()}">
                            <f:setPropertyActionListener
                                target="#{productCDIBean.tmpDto}" value="#{item}"/>
                        </h:commandButton>
                    </h:column>
                </h:dataTable>
                
            </h:form>
        </f:view>
        
        <br/><br/>
        Click <h:outputLink value="mainmenu.xhtml">here</h:outputLink>
            to return to the Main Menu.
        
    </h:body>
</html>

