<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <title>Add a new Employee</title>
    </h:head>
    <h:body>

        <h2>Please enter the details of an employee</h2>

        <h:form>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <h:outputLabel value="Employee Id:"/>
                        </td>
                        <td>
                            <h:inputText title="EmployeeId" id="empid"
                                         required="true" 
                                         requiredMessage="Employee id must not be blank"
                                         maxlength="4" 
                                         value="#{staffManagementCDIBean.empid}"
                                         binding="#{empID}">
                                <f:validateLength minimum="4" maximum="4" />
                            </h:inputText>
                        </td>
                        <td>
                            <h:message for="empid" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Name:"/>
                        </td>
                        <td>
                            <h:inputText title="Name" id="name"
                                         maxlength="25"
                                         required="true" 
                                         requiredMessage="Name must not be blank"
                                         value="#{staffManagementCDIBean.name}"/>
                        </td>
                        <td>
                            <h:message for="name" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Password:"/>
                        </td>
                        <td>
                            <h:inputSecret title="Password" id="password"
                                           maxlength="6" required="true" 
                                           requiredMessage="Password cannot be blank"
                                           validator="#{staffManagementCDIBean.validatePasswordPair}"
                                           value="#{staffManagementCDIBean.password}">
                                <f:validateLength minimum="6" maximum="6"/>
                                <f:attribute name="cnfpwd" value="#{cnfpwd}"/>
                            </h:inputSecret>
                        </td>
                        <td>
                            <h:message for="password" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Confirm Password:"/>
                        </td>
                        <td>
                            <h:inputSecret id="cnfpwd" binding="#{cnfpwd}"
                                           title="ConfirmPassword"
                                           maxlength="6" 
                                           required="true"
                                           requiredMessage="Confirmed Password must not be blank"
                                           value="#{staffManagementCDIBean.cpassword}">
                                <f:validateLength minimum="6" maximum="6"/>
                            </h:inputSecret>
                        </td>
                        <td>
                            <h:message for="cnfpwd" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Email:"/>
                        </td>
                        <td>
                            <h:inputText id="email" title="Email" maxlength="30" 
                                         required="false"
                                         validator="#{staffManagementCDIBean.validateEmail}"
                                         value="#{staffManagementCDIBean.email}">
                                <f:attribute name="empID" value="#{empID.value}"/>
                            </h:inputText>
                        </td>
                        <td>
                            <h:message for="email" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Phone:"/>
                        </td>
                        <td>
                            <h:inputText id="phone" title="Phone" maxlength="10"
                                         required="false"
                                         validator="#{staffManagementCDIBean.validatePhone}"
                                         value="#{staffManagementCDIBean.phone}">
                                <f:attribute name="empID" value="#{empID.value}"/>
                            </h:inputText>
                        </td>
                        <td>
                            <h:message for="phone" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Address:"/>
                        </td>
                        <td>
                            <h:inputText title="Address" maxlength="30" 
                                         required="false"
                                         value="#{staffManagementCDIBean.address}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="User Group:"/>
                        </td>
                        <td>
                            <h:selectOneMenu id="appgroup"
                                             required="true"
                                             value="#{staffManagementCDIBean.appgroup}">
                                <f:selectItem itemValue="ROLE_ADMINISTRATOR" itemLabel="Administrator"></f:selectItem>
                                <f:selectItem itemValue="ROLE_USER" itemLabel="Staff"></f:selectItem>
                            </h:selectOneMenu>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Active:" for="active"/> 
                        </td>
                        <td>
                            <h:selectBooleanCheckbox id="active" required="true" 
                                                     value="#{staffManagementCDIBean.active}" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <p></p>

            <h:commandButton id="submit" value="Submit" 
                             action="#{staffManagementCDIBean.addEmployee()}"/>

        </h:form>
        
        <br/>

        Click <h:outputLink value="mainmenu.xhtml">here</h:outputLink>
        to return to the Main Menu
    </h:body>
</html>