<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Change Employee's Details</title>
    </h:head>
    <h:body>

        <h2>Change Employee Details Page</h2>

        <h3>Please update the details of employee whose employee id is
            <h:outputText value="#{staffManagementCDIBean.empid}"/>
        </h3>

        <p></p>

        <h:form>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <h:outputLabel value="Employee Id:"/>
                        </td>
                        <td>
                            <h:outputText binding="#{empID}" value="#{staffManagementCDIBean.empid}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Name:"/>
                        </td>
                        <td>
                            <h:inputText title="Name" id="name"
                                         maxlength="25"
                                         required="true" 
                                         requiredMessage="Name must not be blank"
                                         value="#{staffManagementCDIBean.name}"/>
                        </td>
                        <td>
                            <h:message for="name" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Email:"/>
                        </td>
                        <td>
                            <h:inputText id="email" title="Email" maxlength="30" 
                                         required="false"
                                         validator="#{staffManagementCDIBean.validateEmail}"
                                         value="#{staffManagementCDIBean.email}">
                                <f:attribute name="empID" value="#{empID.value}"/>
                            </h:inputText>
                        </td>
                        <td>
                            <h:message for="email" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Phone:"/>
                        </td>
                        <td>
                            <h:inputText id="phone" title="Phone" maxlength="10"
                                         required="false"
                                         validator="#{staffManagementCDIBean.validatePhone}"
                                         value="#{staffManagementCDIBean.phone}">
                                <f:attribute name="empID" value="#{empID.value}"/>
                            </h:inputText>
                        </td>
                        <td>
                            <h:message for="phone" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Address:"/>
                        </td>
                        <td>
                            <h:inputText title="Address" maxlength="30" 
                                         required="false"
                                         value="#{staffManagementCDIBean.address}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="User Group:"/>
                        </td>
                        <td>
                            <h:selectOneMenu required="true"
                                             value="#{staffManagementCDIBean.appgroup}">
                                <f:selectItem itemValue="ROLE_ADMINISTRATOR" itemLabel="Administrator"></f:selectItem>                                
                                <f:selectItem itemValue="ROLE_USER" itemLabel="Staff"></f:selectItem>
                            </h:selectOneMenu>
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            <h:outputLabel value="Active:" for="active"/> 
                        </td>
                        <td>
                            <h:selectBooleanCheckbox required="true" 
                                                     value="#{staffManagementCDIBean.active}" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <p></p>

            <h:commandButton id="submit" value="Submit" 
                             action="#{staffManagementCDIBean.changeEmployee()}"/>

        </h:form>
        
        <br/>


        Click <h:outputLink value="mainmenu.xhtml">here</h:outputLink>
        to return to the Main Menu.
    </h:body>
</html>





