<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Delete an Employee</title>
    </h:head>
    <h:body>

        <h2>Please enter the employee id of the employee to be deleted</h2>

        <h:form>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <h:outputLabel value="Employee Id:"/>
                        </td>
                        <td>
                            <h:inputText title="EmpId" id="empid"
                                         required="true" 
                                         requiredMessage="Employee id must not be blank"
                                         maxlength="4" 
                                         value="#{staffManagementCDIBean.empid}">
                                <f:validateLength minimum="4" maximum="4"/>
                            </h:inputText>
                        </td>
                        <td>
                            <h:message for="empid" style="color:red"/>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p></p>

            <h:commandButton id="submit" value="Submit" action="#{staffManagementCDIBean.deleteEmployee()}"/>

        </h:form>
        
        <br/>

        Click <h:outputLink value="mainmenu.xhtml">here</h:outputLink>
        to return to the Main Menu
    </h:body>
</html>

