<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Display an Employee's Details</title>
    </h:head>
    <h:body>

        <h2>
            Details of Employee whose employee id is <h:outputText value="#{staffManagementCDIBean.empid}"/>
        </h2>

        <h:form>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <h:outputLabel value="Name:"/>
                        </td>
                        <td>
                            <h:outputText value="#{staffManagementCDIBean.name}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Email:"/>
                        </td>
                        <td>
                            <h:outputText value="#{staffManagementCDIBean.email}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Phone:"/>
                        </td>
                        <td>
                            <h:outputText value="#{staffManagementCDIBean.phone}"/>     
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Address:"/>
                        </td>
                        <td>
                            <h:outputText value="#{staffManagementCDIBean.address}"/>
                        </td>
                    </tr>             
                    <tr>
                        <td>
                            <h:outputLabel value="User Group:"/>
                        </td>
                        <td>
                            <h:selectOneMenu disabled="true" value="#{staffManagementCDIBean.appgroup}">
                                <f:selectItem itemValue="ROLE_ADMINISTRATOR" itemLabel="Administrator"></f:selectItem>                                
                                <f:selectItem itemValue="ROLE_USER" itemLabel="Staff"></f:selectItem>
                            </h:selectOneMenu>
                        </td>
                    </tr>    
                    <tr>
                        <td>
                            <h:outputLabel value="Active:"/> 
                        </td>
                        <td>
                            <h:selectBooleanCheckbox disabled="true" value="#{staffManagementCDIBean.active}" />
                        </td>
                    </tr>
                </tbody>
            </table>

        </h:form>

        <br/>

        Click <h:outputLink value="mainmenu.xhtml">here</h:outputLink>
        to return to the Main Menu
    </h:body>
</html>



