<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>View Employee List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../style.css" type="text/css"/>
    </h:head>
    <h:body>
        <h1>
            <h:outputText value="Yum Yum Business"/>
        </h1>

        <h2>
            <h:outputText value="View Employee List"/>
        </h2>
        
        <f:view>
            <h:form>
                <h:dataTable
                    value="#{staffManagementCDIBean.list}" var="item"          
                    styleClass="catalogTable"
                    headerClass="catalogTableHeader"
                    rowClasses="catalogTableOddRow,catalogTableEvenRow"
                    cellpadding="10">
                    <h:column>
                        <f:facet name="header">Employee ID</f:facet>
                        <h:outputText value="#{item.empid}" />
                    </h:column>
                    <h:column>
                        <f:facet name="header">Name</f:facet>
                        <h:outputText value="#{item.name}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Email</f:facet>
                        <h:outputText value="#{item.email}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Phone</f:facet>
                        <h:outputText value="#{item.phone}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Group</f:facet>
                        <h:outputText value="#{item.appgroup == 'ROLE_ADMINISTRATOR' 
                                               ? 'Administrator' : 'Staff'}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Active</f:facet>
                        <h:selectBooleanCheckbox id="active" disabled="true" value="#{item.active}" />
                    </h:column>

                    <h:column>
                        <f:facet name="header">Action</f:facet>
                        <h:commandButton value="Edit"
                                         action="#{staffManagementCDIBean.redirectToEditView()}">
                            <f:setPropertyActionListener
                                target="#{staffManagementCDIBean.tmpDto}" value="#{item}"/>
                        </h:commandButton>
                        <h:commandButton value="Disable" disabled="#{item.active != true}"
                                         action="#{staffManagementCDIBean.redirectToDisableView(item.empid)}">
                        </h:commandButton>
                        <h:commandButton value="Enable" disabled="#{item.active == true}"
                                         action="#{staffManagementCDIBean.redirectToEnableView(item.empid)}">
                        </h:commandButton>
                    </h:column>
                </h:dataTable>
                
            </h:form>
        </f:view>
        
        <br/>
        Click <h:outputLink value="mainmenu.xhtml">here</h:outputLink>
            to return to the Main Menu.
        
    </h:body>
</html>

