<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Order Added</title>
    </h:head>
    <h:body>
        
        <h2>Order has been added successfully!</h2>
        
        <p/>
        <h:button value="Back to Shopping" outcome="displayCatalog"/>
        
    </h:body>
</html>

