<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Order Added Failure</title>
    </h:head>
    
    <h:body>
        <h2>Error while placing the order!</h2>
        <p></p>
        
        <h3>    Please contact our staff for assistance!</h3>
        <br/>

        <h:button value="Back to Shopping" outcome="displayCatalog"/>
    </h:body>
</html>

