<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <title>Add a new Order</title>
    </h:head>
    <h:body>

        <h2>Please enter your details below</h2>

        <h:form>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <h:outputLabel value="Customer Name:"/>
                        </td>
                        <td>
                            <h:inputText title="CustomerName" id="customername"
                                         maxlength="25"
                                         required="true" 
                                         requiredMessage="Customer Name must not be blank"
                                         value="#{cartCDIBean.customerName}"/>
                        </td>
                        <td>
                            <h:message for="name" style="color:red"/>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <h:outputLabel value="Customer Email:"/>
                        </td>
                        <td>
                            <h:inputText id="customeremail" title="Customer Email" maxlength="30" 
                                         required="true"
                                         requiredMessage="Customer Email is required"
                                         value="#{cartCDIBean.customerEmail}">
                                <f:validator validatorId="validator.emailValidator"/>
                            </h:inputText>
                        </td>
                        <td>
                            <h:message for="customeremail" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Customer Phone:"/>
                        </td>
                        <td>
                            <h:inputText id="customerphone" title="Customer Phone" maxlength="10"
                                         required="true"
                                         requiredMessage="Customer Phone is required"
                                         value="#{cartCDIBean.customerPhone}">
                                <f:validator validatorId="validator.phoneValidator"/>
                            </h:inputText>
                        </td>
                        <td>
                            <h:message for="customerphone" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="Customer Address:"/>
                        </td>
                        <td>
                            <h:inputText title="Customer Address" maxlength="30" 
                                         required="true"
                                         requiredMessage="Customer Address is required"
                                         value="#{cartCDIBean.customerAddress}"/>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p></p>

            <h:commandButton id="submit" value="Submit" action="#{cartCDIBean.purchase}"/>
            <h:button style="margin-left:10px" value="Back to Shopping" outcome="displayCatalog"/>

        </h:form>
        
        <br/>
    </h:body>
</html>