<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Main Catalog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../style.css" type="text/css"/>
    </h:head>
    <h:body>
        <h1>Welcome to Yum Yum!</h1>

        <h2>Our product catalog</h2>

        <f:view>
            <h:form>
                <h:dataTable
                    value="#{catalogCDIBean.list}" var="item"          
                    styleClass="catalogTable"
                    headerClass="catalogTableHeader"
                    rowClasses="catalogTableOddRow,catalogTableEvenRow"
                    cellpadding="10">
                    <h:column>
                        <f:facet name="header">Product Name</f:facet>
                        <h:outputText value="#{item.productname}" />
                    </h:column>
                    <h:column>
                        <f:facet name="header">Description</f:facet>
                        <h:outputText value="#{item.description}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Price</f:facet>
                        $<h:outputText value="#{item.unitprice}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">In Stock</f:facet>
                        <h:outputText value="#{item.qtyonhand}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header"></f:facet>
                        <h:commandButton value="Add to Cart"
                                         onclick="return checkAndAlert(#{item.qtyonhand})"
                                         action="#{cartCDIBean.addCartItem()}">
                            <f:setPropertyActionListener
                                target="#{cartCDIBean.tmpDto}" value="#{item}"/>
                        </h:commandButton>
                    </h:column>
                </h:dataTable>
                
                <p></p>
                <h:commandButton value="Reset Shopping Cart" action="#{cartCDIBean.resetShopCart()}"/>
                
            </h:form>
        </f:view>


        <p></p>
        <h:button value="View Shopping Cart" outcome="viewShopCart"/>

    </h:body>
    
    <script>
        function checkAndAlert(qtyOnHand) {
            console.log("qtyOnHand is " + qtyOnHand);
            if (qtyOnHand == 0) {
                alert("Insufficient in-stock quantity!");
                return false;
            }
        }
    </script>
</html>