<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>View Shopping Cart</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../style.css" type="text/css"/>
    </h:head>
    <h:body>
        <h1>Welcome to Yum Yum!</h1>

        <h2>Your Shopping Cart</h2>

        <f:view>
            <h:form styleClass="submitForm">
                <h:dataTable value="#{cartCDIBean.shopCart}" var="item"     
                             styleClass="cartTable"
                             headerClass="cartTableHeader"
                             rowClasses="cartTableOddRow,cartTableEvenRow"
                             cellpadding="10">
                    <h:column>
                        <f:facet name="header">Product Name</f:facet>
                        <h:outputText id="productname" value="#{item.cartProductDTO.productname}" />
                    </h:column>
                    <h:column>
                        <f:facet name="header">Unit Price</f:facet>
                        <h:outputText id="unitprice" value="#{item.cartProductDTO.unitprice}" />
                    </h:column>
                    <h:column>
                        <f:facet name="header">Order Quantity</f:facet>
                        <h:inputText id="qtytoorder" 
                                     onchange="return Submit(this.value, #{item.cartProductDTO.qtyonhand},
                                     #{item.cartProductDTO.thresholdqty})"
                                     valueChangeListener="#{cartCDIBean.updateQtyOrder}"
                                     value="#{item.qtyOrder}" >
                            <f:attribute name="productid" value="#{item.cartProductDTO.productid}" />
                        </h:inputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Max Quantity</f:facet>
                        <h:outputText id="thresholdqty" value="#{item.cartProductDTO.thresholdqty}" />
                    </h:column>


                    <h:column>
                        <f:facet name="header">Action</f:facet>
                        <h:commandButton value="Remove"
                                         action="#{cartCDIBean.deleteCartItem(item.cartProductDTO.productid)}">
                        </h:commandButton>
                    </h:column>

                </h:dataTable>

                <h3>
                    The total price for this order is
                    $<h:outputText value="#{cartCDIBean.cartTotal}"/>.      
                </h3>

            </h:form>

            <p></p>
            <h:button onclick="return checkCart(#{empty cartCDIBean.shopCart})"
                      value="Place Order"/>
            <h:button style="margin-left: 10px" value="Back to Shopping" outcome="displayCatalog"/>       
        </f:view>
    </h:body>

    <script>
        
        function checkCart(cartEmpty) {
            if (cartEmpty) {
                alert("Add item to cart first!");
                return false;
            }
            window.location = "addOrder.xhtml";
        }

        function Submit(val, qtyOnhand, thresholdqty) {
            console.log("receiving : " + val 
                    + ", and " + qtyOnhand + ", and " + thresholdqty);
            if (hasEnough(val, qtyOnhand, thresholdqty)) {
                document.getElementsByClassName("submitForm")[0].submit();
            }
        }

        function hasEnough(val, qtyOnhand, thresholdqty) {
            var cQtyOnhand = parseInt(qtyOnhand, 10);
            var cQtyOrder = parseInt(val, 10);
            var cThresholdqty = parseInt(thresholdqty, 10);
            
            let valid = true;
            let msg = '';
            if (isNaN(cQtyOnhand)|| isNaN(cQtyOrder)
                    || 0 > cQtyOrder || qtyOnhand %1 !== 0 ) {
                msg = 'Invalid quantity';
                valid = false;
            } else if (cQtyOrder > cQtyOnhand) {
                msg = 'Not enough instock';
                valid = false;
            } else if (cQtyOrder > cThresholdqty) {
                msg = 'Only ' 
                        + thresholdqty + ' items are allowed per purchase';
                valid = false;
            }
            
            if (!valid) {
                alert(msg);
                window.location.reload();
            }
            
            return valid;
        }

    </script>
</html>
